
@{
    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*content for check out page goes here.*@

        @*@Html.Hidden("customerControllerURL", Url.Action("Index", "Customer"))*@

    </div>
</body>
</html>
