
@{
    Layout = "~/Views/Shared/_LayoutCustomerPages.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*Content for newly added ordered and customer info will be appended here.*@
    </div>
</body>
</html>
